@import "../../common/stylesheet/index";

.array_2d {
  flex-shrink: 0;
  display: table;
  border-collapse: collapse;

  .row {
    display: table-row;
    height: 28px;

    .col {
      display: table-cell;
      text-align: center;
      min-width: 28px;
      background-color: var(--array-2d-row-col-bg);
      border: 1px solid var(--array-2d-row-col-border);
      padding: 0 4px;

      .value {
        font-size: 12px;
        color: var(--array-2d-row-col-value-color);

      }

      &.selected {
        background-color: var(--two-array-2d-row-col-bg-selected);

        span {
          color: var(--two-array-2d-row-col-selected);
        }
      }


      &.patched {
        background-color: var(--two-array-2d-row-col-bg-patched);

        span {
          color: var(--two-array-2d-row-col-patched);
        }

      }

      &.sorted {
        background-color: var(--array-2d-row-bg-sorted);
        
        span {
          color: var(--array-2d-row-col-sorted);
        }
      }



      &.index {
        background: var(--array-2d-row-col-bg-index);
        border: var(--array-2d-row-col-border-index);
        color: var(--array-2d-row-col-color-index);
      }
    }
  }
}
