.NavigationBar {
    flex-direction: row;
    align-items: center;
    display: flex;
}

.Clicked {
    width: 50%;
    background-color: #1D9CE3;
    font-size: calc(8px + 2vmin);
    color: white;
}

.Unclicked {
    width: 50%;
    background-color: white;
    font-size: calc(8px + 2vmin);
    color: grey;
}
