.PseudocodePanel {
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 30vw;
    display: flex;
}

.NavigationBar {
    width: 100%;
}

.PseudocodePanel-TextArea {
    text-align: center;
    height: 80vh;
    width: 100%;
    background-color: white;
    font-size: calc(10px + 2vmin);
    color: #333333;
    resize: none;
}

.LineExplanation {
    width: 100%;
}
