@import './global.scss';


.background {
  background-color: white;

  .footer {
    background-color: #006c27;
  }

}
// $headerCol:#01223F;

$maxWidth: 800px;

@mixin buttonHover {
  filter: drop-shadow(2px 4px  4px rgba(155, 155, 155, 0.25));
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

@mixin buttonActive {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.abHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: $maxWidth;
  margin: 0 auto;
  padding: 80px 48px 70px;

  
  .logo {
    margin: 12px 0 6px;
    display: flex;
    align-items: center;

    img {
      height: 24px;
      width: 24px;
      margin-right: 8px;
    }

    h1 {
      color: rgb(220, 220, 220);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.95em;
    }
  }

  .title {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.5em;
    max-width: 500px;

  }

  .subtitle {
    color: white;
    font-weight: 300;
    font-size: 1.3em;
    margin: 12px 0 24px;

  }

  .start {
    @include removeBtnStyling;
    background-color: white;
    color: black;
    padding: 12px 20px;
    text-transform: uppercase;
    font-size: 0.9em;
    @include border-radius(4px);
  }

  .start:hover {
    @include buttonHover;

  }

  .start:active {
    @include buttonActive;

  }

}


.section {
  background-color: white;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
  @include border-radius(2px);
  padding: 36px 48px 24px;
  max-width: $maxWidth;
  margin: 0 auto;


  .title {
    color: rgb(70, 70, 70);
    
    font-size: 1.1em;
    text-align: right;
    font-weight: 600;
    text-transform: uppercase;

  }

  .extraTitle {
    font-size: 2.5em;
    text-align: right;
    margin: 8px 0 8px;
    font-weight: 600;
    text-transform: uppercase;

    @include gradientText(rgb(131,58,180));
    background-image: linear-gradient(55deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 54%, rgba(252,176,69,1) 100%);
  }

  .subtitle {
    color: rgb(43, 43, 43);
    font-size: 1.2em;
    text-align: right;
    font-weight: 400;

  }

  .professors {
    margin: 36px 0 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(395px, auto));
    grid-gap: 10px;

    .profile {
      display: flex;
      align-items: center;
      @include border-radius(4px);
      padding: 12px 24px;
      min-width: 320px;
      // margin-left: 24px;
      border: 1px solid #aeaeae;
      background-color: white;

      img {
        height: 90px;
        width: 90px;
        object-fit: cover;
        @include border-radius(50%);
        margin-right: 24px;
      }

      .info {
        .desc {
          font-size: 0.87em;
          color: #484848;
          font-weight: 300;
          text-transform: uppercase;
          margin-bottom: 2px;

        }
  
        .name {
          font-size: 1.2em;
          // color: #4d4d4d;
          color: $sigBlue;
          font-weight: 500;
          margin-bottom: 4px;
        }
  

        .department {
          font-size: 0.87em;
          color: #464646;
          font-weight: 400;
          text-transform: uppercase;
          margin-bottom: 4px;
        }
  
      }
    }

    .profile:hover {
      @include buttonHover;

    }

    .profile:active {
      @include buttonActive;

    }
    
  }
}

.appSection {
  margin: 40px 0;
  padding: 36px 24px 12px;


  .innerContainer {
    max-width: $maxWidth;
    margin: 0 auto 0;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .title {
      color: rgb(69, 69, 69);
      font-size: 1.1em;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
  
    }

    .bigTitle {
      font-size: 2.4em;
      font-weight: 600;
      text-transform: uppercase;
      margin: 8px 0 8px;
      text-align: center;
      color: white;

      @include gradientText(#000000);
      background-image: radial-gradient( circle 465px at -15.1% -25%,  rgba(17,130,193,1) 0%, rgba(67,166,238,1) 49%, rgba(126,203,244,1) 90.2% );
    }

    .subtitle {
      color: rgb(48, 48, 48);
      font-size: 1.2em;
      text-align: right;
      font-weight: 400;
    }

  }

}

.contributeSection {
  // margin: 0 48px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #73bfb8;

  .title {
    font-size: 1.8em;
    font-weight: 500;
    color: rgb(33, 33, 33);
    margin: 8px 0 8px;

  }

  .subtitle {
    color: rgb(43, 43, 43);
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 12px;

  }

  .btnContainer {
    display: flex;
    margin: 12px 0;
  }

  .btn {
    @include removeBtnStyling;
    background-color: white;
    color: white;
    padding: 12px 20px;
    text-transform: uppercase;
    font-size: 0.9em;
    @include border-radius(4px);
    display: flex;
    align-items: center;

  }

  .btn:hover {
    @include buttonHover;
  }

  .btn:active {
    @include buttonActive;
  }

  .github {
    background-color: black;
    color: white;
    svg {
      height: 24px;
      width: 24px;
      margin-right: 12px;

      path {
        fill: white;

      }
    }

  }

  .slack {
    background-color: #F7F7F7;
    color: black;
    svg {
      height: 24px;
      width: 24px;
      margin-right: 12px;


    }
  }
}


.top {
  background-color: #01233F;
}

.separator {
  background-color: white;
  position: absolute;
  width: 100%;

   svg {
    transform: scale(-1,1);
     path {
       fill: #01233F;
     }
   }
}


.dotdot {
  margin-top: 16px;
  width: 40px;
  border-bottom: 10px  dotted rgb(2, 18, 108);
}















.aboutContainer {
  margin: 48px auto;
  max-width: $maxWidth;
  padding: 24px;


  .heading {
    color: rgb(69, 69, 69);
    font-size: 1.1em;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;

  }

  .teamMembers {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(395px, auto));
    grid-gap: 10px;


    .teamCard {
      @include border-radius(4px);
      padding: 12px 24px;
      border: 1px solid #aeaeae;
      background-color: white;
      display: flex;
      align-items: center;


      .photo {
        height: 90px;
        width: 90px;
        object-fit: cover;
        @include border-radius(50%);
        margin-right: 24px;
      }

      .memberDescription {
        margin-right: 24px;       
        float:left;
        @include preventWrap;
        min-width: 0;

        .title {
          font-size: 0.87em;
          color: #484848;
          font-weight: 300;
          // text-transform: uppercase;
          margin-bottom: 2px;
        }

        .name {
          font-size: 1.2em;
          color: $sigBlue;    
          font-weight: 500;
          margin-bottom: 4px;
        }

        .desc {
          font-size: 0.87em;
          color: #464646;
          font-weight: 400;
          text-transform: uppercase;
          margin-bottom: 4px;
        }

      }
      .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;

      }
    }

    .teamCard:hover {
      @include buttonHover;
    }

    .teamCard:active {
      @include buttonActive;
    }
  }
}