@import './global.scss';

body {
	margin: 0;
	padding: 0;
	font-family: Roboto, 'sans-serif';
	-webkit-font-smoothing: subpixel-antialiased;
}

$handleLen: 40px;
$dragBarWidth: 10px;

#page {
	height: 100vh;
	display: grid;
	grid-template-areas:
		'header header header header header'
		'leftcol leftdragbar tabpages rightdragbar rightcol'
		'leftcol leftdragbar bottomdragbar rightdragbar rightcol'
		'leftcol leftdragbar footer rightdragbar rightcol';
	grid-template-rows: min-content 7fr $dragBarWidth 2fr;
	grid-template-columns: min-content $dragBarWidth 6fr $dragBarWidth 4fr;
}

#page:focus {
	outline-style: none;
	box-shadow: none;
	border-color: transparent;
}

#header {
	overflow: visible;
	grid-area: header;
}

#leftcol {
	width: 0px;
	overflow: auto;
	grid-area: leftcol;
	background-color: var(--left-bg);
}

#rightcol {
	overflow: auto;
	grid-area: rightcol;
	height: 100%;
}

#tabpages {
	overflow: auto;
	grid-area: tabpages;
	width: 100%;
}

#footer {
	grid-area: footer;
	background-color: var(--mid-control-bg);
	overflow-y: hidden;

}


.dragbar {
	background-color: var(--system-handle-bg);
	display: flex;
	justify-content: center;
	align-items: center;


}

.dragbar:focus {
	outline-style: none;
	box-shadow: none;
	border-color: transparent;
}

.dragbar:hover {
	background-color: var(--system-handle-bg-hover);

}

.dragbar:active {
	background-color: var(--system-handle-bg-active);

}



.handle {
	overflow: hidden;
	width: $dragBarWidth;
	// height: $handleLen;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	svg {
		height: 5px;
		width: 5px;
		margin: 4px 0 0;

		circle {
			fill: var(--system-handle-circle-fill) !important;
		}

	}
}

.bottomHandle {
	transform: rotate(90deg);
}

// Right Dragbar
#rightdragbar {
	grid-area: rightdragbar;
	cursor: col-resize;

}

// Left Dragbar
#leftdragbar {
	grid-area: leftdragbar;
	width: 0px;
	/* 或者您想要的宽度 */
	background-color: #ccc;
	/* 或者您想要的颜色 */
	cursor: default;
}

#leftdragbar.collapsed {
	width: 5px;
}

#leftdragbar .handle {
	display: none;
	/* 隐藏拖动手柄 */
}

#leftdraghandle {
	position: absolute;
	height: 20px;
	width: 20px;
	margin: auto;
	filter: brightness(110%);
}

// Bottom Dragbar
#bottomdragbar {
	grid-area: bottomdragbar;
	cursor: row-resize;

}



#tabpages.full-width {
	top: 60px;
	/* 调整这个值以匹配新的 header 高度 */
	left: 0;
	width: calc(100% - 300px);
	/* 假设右侧面板宽度为 300px，根据实际情况调整 */
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f0f0f0;
}

.header-left {
	flex: 1;
}

.header-right {
	flex: 18;
	display: flex;
	justify-content: flex-end;
}