@import './global.scss';

body {
  margin:0; 
  padding: 0;
	font-family: Roboto, 'sans-serif';
	-webkit-font-smoothing: subpixel-antialiased;
}

#page {
	height: 100vh;
	background: none;
	display: grid;
	grid-template-areas:
		'header header header header header'
		'leftcol leftdragbar tabpages rightdragbar rightcol'
    'leftcol leftdragbar bottomdragbar rightdragbar rightcol'
    'leftcol leftdragbar footer rightdragbar rightcol';
	grid-template-rows: min-content 7fr $dragBarWidth 2fr;
	grid-template-columns: 2fr $dragBarWidth 5fr $dragBarWidth 5fr;	
}

#page:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

#header {
	overflow: auto;
	grid-area: header;
}

#leftcol {
	overflow: auto;
  grid-area: leftcol;
}

#rightcol {
	overflow: auto;
	grid-area: rightcol;
}

#tabpages {
	overflow: auto;
	grid-area: tabpages;
}

#footer {
	overflow: auto;
	grid-area: footer;
}


#rightdragbar {
	background-color: $dragbarCol;
	grid-area: rightdragbar;
	cursor: col-resize;
	display: flex;
	justify-content: center;
	align-items: center;

	#draghandle {
		background-color: $handleCol;
		width: $dragBarWidth;
		height: $handleLen;
		cursor: pointer;
	}
	
}

#rightdragbar:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

#leftdragbar {
	background-color: $dragbarCol;
	grid-area: leftdragbar;
	cursor: col-resize;
	display: flex;
	justify-content: center;
	align-items: center;

	#draghandle {
		background-color: $handleCol;
		width: $dragBarWidth;
		height: $handleLen;
		cursor: pointer;
	}
}

#leftdragbar:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

#bottomdragbar {
  background-color: $dragbarCol;
  grid-area: bottomdragbar;
	cursor: row-resize;
	display: flex;
	justify-content: center;
	align-items: center;
	
	#draghandle {
		background-color: $handleCol;
		width: $handleLen ;
		height: $dragBarWidth;
		cursor: pointer;
	}
}

#bottomdragbar:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}




