$bgColor: #FEFEFE;
$minContainerWidth: 1250px;
$headerHeight: 50px;
$borderCol: #e9e9e9;

body {
  margin:0; 
  padding: 0;
  // width: 100%;
  background-color: $bgColor;
	font-family: Roboto, 'sans-serif';
}

$dragBarSize: 3px;

#page {
	height: 100vh;
	background: none;
	display: grid;
	grid-template-areas:
		'header header header header header'
		'leftcol leftdragbar tabpages rightdragbar rightcol'
    'leftcol leftdragbar bottomdragbar rightdragbar rightcol'
    'leftcol leftdragbar footer rightdragbar rightcol';
	grid-template-rows: min-content 7fr $dragBarSize 3fr;
	grid-template-columns: 2fr $dragBarSize 6fr $dragBarSize 3fr;	
}

#page:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}


/*****************************/
#header {
	// background-color: $bgColor;
	overflow: auto;
	grid-area: header;
}

#leftcol {
	// background-color: $bgColor;
	overflow: auto;
  grid-area: leftcol;
}

#rightcol {
	// background-color: #aaaaaa;
	overflow: auto;
	grid-area: rightcol;
}

#tabpages {
	// background-color: #888888;
	overflow: auto;
	grid-area: tabpages;
}

#footer {
	// background-color: lightblue;
	overflow: auto;
	grid-area: footer;
}

#rightdragbar {
	background-color: $borderCol;
	grid-area: rightdragbar;
	cursor: col-resize;
}

#rightdragbar:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

#leftdragbar {
	background-color: $borderCol;
	grid-area: leftdragbar;
	cursor: col-resize;
}

#leftdragbar:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

#bottomdragbar {
  background-color: $borderCol;
  grid-area: bottomdragbar;
  cursor: row-resize;
}

#bottomdragbar:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}




