@import './global.scss';

.container {
  height: 28%;
  font-size: 0.8em;

  .controlPanel {
    height: 40px;
    // border-bottom: $borderSize solid $borderCol;
    padding: 0px $ctrlOffset;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .parameterPanel {
    padding: 16px $paramOffset 16px $paramOffset;
    // transition: .10s;
    
    .logContainer {
      background-color: $paramBg;
      padding: 8px 16px;
      border-radius: 4px;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 16px auto 0px auto;
      // animation: popup 0.7s;
      
      .logTag {
        color: $successCol;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1em;
        margin-right: 12px;
      }
  
      .logText {
        font-size: 1.03em;
        font-weight: 300;
        color: $paramFontCol;
      }
  
    }
  
  }

}
