// Shared Colors and Sizes
$blue: #037DFF;
$sigBlue: #027AFF;
$red: #DC0707;
$green: #53DD6C;
$lightWhite: #F7F7F7;
$yellowLine: #FFDE3C;

// Default Variables
:root {
	--system-handle-bg: #f4f4f4;
	--system-handle-bg-hover: #eeeeee;
	--system-handle-bg-active: #e6e6e6;
	--system-border: #e9e9e9;
	--system-handle-circle-fill: #D5D5D5;

	--top-header-bg: #01233F;
	--top-header-btn: #d7d7d7;
	--top-header-btn-hg: #027AFF;
	--top-setting-bg: #FFFFFF;
	--top-setting-label: #606060;
	--top-setting-btn: #5b5b5b;
	--top-setting-btn-bg: rgb(237, 237, 237);
	--top-setting-btn-bg-active: rgb(220, 220, 220);
	--top-setting-checkbox-bg-active: #EDEDED;
	--top-setting-checkbox-font: #606060;
	--top-setting-checkbox-btn: #d7d7d7;
	--top-setting-checkbox-bg: #EDEDED;

	--left-bg: #FFFFFF;
	--left-font: #393939;
	--left-search-bg: #F9F9F9;
	--left-search-bg-focus: #f0f0f0;
	--left-search-border: #d5d5d5;
	--left-search-border-focus: #bbbbbb;
	--left-cat-font: #727272;
	--left-cat-bg: #FFFFFF;
	--left-cat-bg-hover: #f0f0f0;
	--left-cat-border: #d5d5d5;
	--left-cat-border-hover: #bbbbbb;
	--left-item-font: #5b5b5b;
	--left-item-bg: #FFFFFF;
	--left-item-bg-hover: #f0f0f0;
	--left-item-border: #d5d5d5;
	--left-item-border-hover: #bbbbbb;
	--left-item-font-active: #027AFF;
	--left-item-border-active: #027AFF;

	--mid-header-bg: #FFFFFF;
	--mid-header-font: #545454;
	--mid-anim-bg: #f9f9f9;
	--mid-control-bg: #FFFFFF;
	--mid-control-slider-bg: #F7F7F7;
	--mid-control-btn-bg: #F7F7F7;
	--mid-control-font: #393939;

	--mid-instruction-bg: #ffffff;
	--mid-instruction-title-col: #505050;
	--mid-instruction-content-col: #3c3c3c;
	--mid-instruction-content-number-col: #2d2d2d;
	--mid-instruction-content-key: #027AFF;

	--mid-control-progress-bg: #b5b5b5;
	--mid-control-progress-active: #027AFF;
	--mid-control-progress-font: #161515;

	--mid-control-param-border: #D4D4D4;
	--mid-control-param-btn-active: #6a6a6a;
	--mid-control-param-btn-disabled: #b5b5b5;
	--mid-control-param-btn-active-col: #027AFF;
	--mid-control-param-btn-bg-hover: #f7f7f7;
	--mid-control-param-btn-bg-active: #E3E2E4;
	--mid-control-param-btn-bg-col-hover: #f5faff;
	--mid-control-param-btn-bg-col-active: #e4f1ff;
	--mid-control-param-grey-btn-col: #717071ba;
	--mid-control-param-blue-btn-col: #027AFF;

	--mid-control-param-matrix-btn-bg: #F7F7F7;
	--mid-control-param-matrix-header-bg: #f0f0f0;
	--mid-control-param-matrix-header-font: #616161;
	--mid-control-param-matrix-cell-bg: #FFFFFF;
	--mid-control-param-matrix-cell-font: #6f6f6f;

	--mid-control-log-bg: #F7F7F7;
	--mid-control-log-success: #53DD6C;
	--mid-control-log-failure: #DC0707;

	--right-header-bg: #FFFFFF;
	--right-header-font: #919191;
	--right-header-side-btn: #1d1d1d;
	--right-header-font-active: #027AFF;

	--right-text-font: #343434;
	--right-text-bg: #FFFFFF;

	--right-code-font: #383A43;
	--right-code-explanation-font: #A0A1A8;
	--right-code-keyword-font: #ce1ac2;
	--right-code-variable-font: #A06600;
	--right-code-operator-font: #1ea6b0;
	--right-code-function-font: #1e6df5;

	--right-code-bg: #F9F9F9;
	--right-code-line-hg: rgba(0, 187, 255, 0.2);
	--right-code-line-hover: rgba(0, 0, 0, 0.03);
	--right-code-line-active: rgba(0, 0, 0, 0.05);
	--right-code-line-num: #9DA9AD;
	--right-code-line-explain-btn-active: #575757;
	--right-code-line-explain-btn-inactive: #c9c9c9;
	--right-code-line-explain-btn-inactive-hover: #c1c1c1;
	--right-code-expand-btn-bg: #EFEFEF;
	--right-code-expand-btn: #505050;
	--right-code-expand-btn-bg-hover: #e1e1e1;
	--right-code-line-explain-bg: #FFFFFF;
	--right-code-line-explain-title: #a2a2a2;
	--right-code-line-explain-font: #3e3e3e;
	--right-code-bottom-btn: #8B8B8B;
	--right-code-bottom-btn-bg: #FFFFFF;
	--right-code-bottom-btn-bg-hover: rgb(245, 245, 245);
	--right-code-bottom-btn-bg-active: rgb(238, 238, 238);

	// Graph
	--graph-node-circle-fill: #ffffff;
	--graph-node-circle-stroke: #4f4f4f;
	--graph-node-id-fill: #6a6a6a;
	--graph-node-weight-fill: #6a6a6a;
	--graph-node-circle-fill-selected: #2289ff;
	--graph-node-circle-stroke-selected: #2289ff;
	--graph-node-id-fill-selected: #FFFFFF;
	--graph-node-circle-fill-sorted: #aeaeae;
	--graph-node-id-fill-sorted: #FFFFFF;
	--graph-node-circle-fill-visited: #ee0970;
	--graph-node-circle-stroke-visited: #ee0970;
	--graph-node-id-fill-visited: #FFFFFF;

	--graph-text-fill: #1809ee;
	--graph-text-stroke: #1809ee;

	--graph-edge-line-stroke: #aeaeae;
	--graph-edge-line-weight-fill: #a4a4a4;
	--graph-edge-line-stroke-selected: #2289ff;
	--graph-edge-weight-fill-selected: #2289ff;
	--graph-edge-line-stroke-visited: #ee0970;
	--graph-edge-weight-fill-visited: #ee0970;


	--graph-arrow-fill: #aeaeae;
	--graph-arrow-fill-selected: #2289ff;
	--graph-arrow-fill-visited: #ee0970;

	--array-2d-row-col-bg: #ffffff;
	--array-2d-row-col-border: #4f4f4f;
	--array-2d-row-col-value-color: #3e3e3e;
	--array-2d-row-col-bg-selected: #2289ff;
	--array-2d-row-col-bg-selected1: #11cc77;
	--array-2d-row-col-bg-selected2: #8ac0ff;
	--array-2d-row-col-bg-selected3: #8fdbb9;
	--array-2d-row-col-selected: #FFFFFF;
	--array-2d-row-col-bg-patched: #f58b2f;
	--array-2d-row-col-patched: #FFFFFF;
	--array-2d-row-col-bg-index: none;
	--array-2d-row-col-border-index: none;
	--array-2d-row-col-color-index: #505050;
	--array-2d-row-bg-sorted: #aeaeae;
	--array-2d-row-col-sorted: #FFFFFF;

	--array-1d-future-stack-todo-section: rgba(0, 0, 0, 0.2);


	--array-graph-row-col-bg: #ffffff;
	--array-graph-row-col-border: #4f4f4f;
	--array-graph-row-col-value-color: #3e3e3e;
	--array-graph-row-col-bg-selected: #2289ff;
	--array-graph-row-col-selected: #FFFFFF;
	--array-graph-row-col-bg-index: none;
	--array-graph-row-col-border-index: none;
	--array-graph-row-col-color-index: #505050;
	--array-graph-node-weight-fill: #FFFFFF;
	--array-graph-node-circle-fill-selected: #2289ff;
	--array-graph-node-circle-stroke-selected: #2289ff;
	--array-graph-node-circle-fill-visited: #ee0970;
	--array-graph-node-circle-stroke-visited: #ee0970;

	--array-graph-edge-line-stroke: #505050;
	--array-graph-edge-weight-fill: #505050;
	--array-graph-edge-line-stroke-selected: #2289ff;
	--array-graph-edge-weight-fill-selected: #2289ff;
	--array-graph-edge-line-stroke-visited: #ee0970;
	--array-graph-edge-weight-fill-visited: #ee0970;
	--array-graph-edge-arrow-fill: #505050;
	--array-graph-edge-arrow-fill-selected: #2289ff;
	--array-graph-edge-arrow-fill-visited: #2289ff;


}

// Override Data Theme Colors [Dark]
[data-theme="dark"] {
	--system-handle-bg: #131313;
	--system-handle-bg-hover: #101010;
	--system-handle-bg-active: #0b0b0b;
	--system-border: #2e2d2d;
	--system-handle-circle-fill: #2C2E35;


	--top-header-bg: #0E0E0E;
	--top-header-btn: #b8b8b8;

	--top-setting-bg: #131313;
	--top-setting-label: #a9a9a9;
	--top-setting-btn: #a0a0a0;
	--top-setting-btn-bg: #212121;
	--top-setting-btn-bg-active: #1d1d1d;

	--top-setting-checkbox-bg-active: #212121;
	--top-setting-checkbox-font: #a0a0a0;
	--top-setting-checkbox-btn: #747474;
	--top-setting-checkbox-bg: #212121;

	--left-search-bg-focus: #25272b;
	--left-cat-bg-hover: #25272b;
	--left-item-bg-hover: #25272b;

	--left-search-bg: #202125;

	--left-search-border: #2b2e35;
	--left-item-border: #2b2e35;
	--left-cat-border: #2b2e35;

	--left-cat-border-hover: #505050;
	--left-search-border-focus: #505050;
	--left-item-border-hover: #505050;

	--left-bg: #16171B;
	--left-item-bg: #16171B;
	--left-cat-bg: #16171B;

	--left-font: #bfbfbf;
	--left-cat-font: #a9a9a9;
	--left-item-font: #bababa;

	--mid-header-bg: #16171B;
	--mid-header-font: #a9a9a9;
	--mid-anim-bg: #202125;

	--mid-instruction-bg: #16171B;
	--mid-instruction-title-col: #a0a0a0;
	--mid-instruction-content-col: #c4c4c4;
	--mid-instruction-content-number-col: #c2c2c2;
	--mid-instruction-content-key: #027AFF;

	--mid-control-progress-bg: #111215;
	--mid-control-progress-active: #027AFF;
	--mid-control-progress-font: #a0a0a0;

	--mid-control-bg: #16171B;
	--mid-control-slider-bg: #111215;
	--mid-control-btn-bg: #111215;
	--mid-control-param-border: #434343;
	--mid-control-param-btn-active: #a4a4a4;
	--mid-control-param-btn-disabled: #323232;
	--mid-control-param-btn-bg-hover: #111215;
	--mid-control-param-btn-bg-active: #070809;
	--mid-control-param-btn-bg-col-hover: #111215;
	--mid-control-param-btn-bg-col-active: #070809;
	--mid-control-param-grey-btn-col: #989898ba;
	--mid-control-param-blue-btn-col: #027AFF;

	--mid-control-param-matrix-btn-bg: #13151a;
	--mid-control-param-matrix-header-bg: #0b0c0e;
	--mid-control-param-matrix-header-font: #c4c4c4;
	--mid-control-param-matrix-cell-bg: #16171B;
	--mid-control-param-matrix-cell-font: #e3e3e3;



	--mid-control-log-bg: #111215;
	--mid-control-font: #bfbfbf;

	--right-text-bg: #16171B;

	--right-code-bg: #202125;
	--right-text-font: #a9a9a9;
	--right-code-font: #bbbbbb;
	--right-code-explanation-font: #475164;
	--right-code-keyword-font: #bf16b4;
	--right-code-variable-font: #A06600;
	--right-code-operator-font: #20b7c2;
	--right-code-function-font: #3a7ae9;

	--right-header-bg: #16171B;
	--right-header-font: #636363;
	--right-header-side-btn: #1d1d1d;

	--right-code-line-hg: rgba(2, 88, 125, 0.29);
	--right-code-line-num: #475164;
	--right-code-line-explain-btn-active: #9b9b9b;
	--right-code-line-explain-btn-inactive: #3f3f3f;
	--right-code-expand-btn-bg: #1d1d1d;
	--right-code-expand-btn: #5b5b5b;
	--right-code-expand-btn-bg-hover: #171717;

	--right-code-line-explain-bg: #16171B;
	--right-code-line-explain-title: #a2a2a2;
	--right-code-line-explain-font: #a0a0a0;

	--right-code-bottom-btn: #8B8B8B;
	--right-code-bottom-btn-bg: #16171B;
	--right-code-bottom-btn-bg-hover: #25272b;
	--right-code-bottom-btn-bg-active: #282a2e;

	// Graph
	--graph-node-circle-fill: #5c5c5c;
	--graph-node-circle-stroke: #373737;
	--graph-node-id-fill: #d5d5d5;
	--graph-node-weight-fill: #6a6a6a;
	--graph-node-circle-fill-selected: #2289ff;
	--graph-node-circle-stroke-selected: #2289ff;
	--graph-node-id-fill-selected: #FFFFFF;
	--graph-node-circle-fill-visited: #ee0970;
	--graph-node-circle-stroke-visited: #ee0970;
	--graph-node-id-fill-visited: #FFFFFF;

	--graph-node-circle-fill-visited1: #11cc77;
	--graph-node-circle-stroke-visited1: #11cc77;
	--graph-node-circle-fill-visited2: #f58b2f;
	--graph-node-circle-stroke-visited2: #f58b2f;
	--graph-edge-line-stroke-visited1: #11cc77;
	--graph-edge-line-stroke-visited2: #f58b2f;
	--graph-edge-weight-fill-visited1: #11cc77;
	--graph-edge-weight-fill-visited2: #f58b2f;
	--graph-arrow-fill-visited1: #11cc77;
	--graph-arrow-fill-visited2: #f58b2f;

	--graph-edge-line-stroke: #464646;
	--graph-edge-line-weight-fill: #717171;
	--graph-edge-line-stroke-selected: #2289ff;
	--graph-edge-weight-fill-selected: #2289ff;
	--graph-edge-line-stroke-visited: #ee0970;
	--graph-edge-weight-fill-visited: #ee0970;

	--graph-arrow-fill: #464646;
	--graph-arrow-fill-selected: #2289ff;
	--graph-arrow-fill-visited: #ee0970;

	--array-2d-row-col-bg: #343434;
	--array-2d-row-col-border: #c0c0c0;
	--array-2d-row-col-value-color: #d5d5d5;
	--array-2d-row-col-bg-selected: #83d489;
	--array-2d-row-col-bg-selected1: #11cc77;
	--array-2d-row-col-bg-selected2: #8ac0ff;
	--array-2d-row-col-bg-selected3: #8fdbb9;
	--array-2d-row-col-selected: #FFFFFF;
	--array-2d-row-col-bg-patched: #f58b2f;
	--array-2d-row-col-patched: #FFFFFF;
	--array-2d-row-col-bg-index: none;
	--array-2d-row-col-border-index: none;
	--array-2d-row-col-color-index: #505050;
	--array-2d-row-bg-sorted: #aeaeae;
	--array-2d-row-col-sorted: #FFFFFF;
	--two-array-2d-row-col-bg-selected: #83d489;
	--two-array-2d-row-col-selected: #FFFFFF;
	--two-array-2d-row-col-bg-patched: #83d489;
	--two-array-2d-row-col-patched: #FFFFFF;

	--array-1d-future-stack-todo-section: rgba(255, 255, 255, 0.4);

	--array-graph-row-col-bg: #343434;
	--array-graph-row-col-border: #212121;
	--array-graph-row-col-value-color: #d5d5d5;
	--array-graph-row-col-bg-selected: #2289ff;
	--array-graph-row-col-bg-patched: #ee0970;
	--array-graph-row-col-bg-index: none;
	--array-graph-row-col-border-index: none;
	--array-graph-row-col-color-index: #505050;
	--array-graph-node-weight-fill: #FFFFFF;
	--array-graph-node-circle-fill-selected: #2289ff;
	--array-graph-node-circle-stroke-selected: #2289ff;
	--array-graph-node-circle-fill-visited: #ee0970;
	--array-graph-node-circle-stroke-visited: #ee0970;

	--array-graph-edge-line-stroke: #505050;
	--array-graph-edge-weight-fill: #505050;
	--array-graph-edge-line-stroke-selected: #2289ff;
	--array-graph-edge-weight-fill-selected: #2289ff;
	--array-graph-edge-line-stroke-visited: #ee0970;
	--array-graph-edge-weight-fill-visited: #ee0970;
	--array-graph-edge-arrow-fill: #505050;
	--array-graph-edge-arrow-fill-selected: #2289ff;
	--array-graph-edge-arrow-fill-visited: #ee0970;
}

[algo-theme="default"] {
	--graph-node-circle-fill-selected: #83d489;
	--graph-node-circle-stroke-selected: #83d489;
	--graph-node-circle-fill-visited: #e85c49;
	--graph-node-circle-fill-visited0: #2289ff;
	--graph-node-circle-stroke-visited0: #2289ff;
	--graph-node-circle-stroke-visited: #e85c49;
	--graph-node-circle-fill-visited1: #11cc77;
	--graph-node-circle-stroke-visited1: #11cc77;
	--graph-node-circle-fill-visited2: #f58b2f;
	--graph-node-circle-stroke-visited2: #f58b2f;

	--graph-edge-line-stroke-selected: #ee0970;
	--graph-edge-weight-fill-selected: #ee0970;
	--graph-edge-line-stroke-visited: #2289ff;
	--graph-edge-line-stroke-visited1: #11cc77;
	--graph-edge-line-stroke-visited2: #f58b2f;
	--graph-edge-weight-fill-visited: #2289ff;
	--graph-edge-weight-fill-visited1: #11cc77;
	--graph-edge-weight-fill-visited2: #f58b2f;


	--graph-arrow-fill-selected: #ee0970;
	--graph-arrow-fill-visited: #2289ff;
	--graph-arrow-fill-visited1: #11cc77;
	--graph-arrow-fill-visited2: #f58b2f;

	--array-1d-row-col-bg-selected: #e85c49;
	--array-1d-row-col-bg-patched: #83d489;
	--array-1d-row-col-variable: #e85c49;

	--array-2d-row-col-bg-selected: #2289ff;
	--array-2d-row-col-bg-selected1: #11cc77;
	--array-2d-row-col-bg-selected2: #8ac0ff;
	--array-2d-row-col-bg-selected3: #8fdbb9;
	--array-2d-row-col-bg-patched: #f58b2f;
	--array-2d-row-col-sorted: #FFFFFF;

	--two-array-2d-row-col-bg-selected: #83d489;
	--two-array-2d-row-col-selected: #FFFFFF;
	--two-array-2d-row-col-bg-patched: #83d489;
	--two-array-2d-row-col-patched: #FFFFFF;

	--array-graph-row-col-bg-selected: #2289ff;
	--array-graph-row-col-bg-patched: #ee0970;

	--array-graph-node-circle-fill-selected: #2289ff;
	--array-graph-node-circle-stroke-selected: #2289ff;
	--array-graph-node-circle-fill-visited: #ee0970;
	--array-graph-node-circle-stroke-visited: #ee0970;

	--array-graph-edge-line-stroke-selected: #2289ff;
	--array-graph-edge-weight-fill-selected: #2289ff;
	--array-graph-edge-line-stroke-visited: #ee0970;
	--array-graph-edge-weight-fill-visited: #ee0970;
	--array-graph-edge-arrow-fill-selected: #2289ff;
	--array-graph-edge-arrow-fill-visited: #ee0970;

	--simple-fill-var-green: #83d489;
	--simple-fill-var-orange: #f5d651;
	--simple-fill-var-red: #e75c49;
}



// Override Algorithm Theme Colors [Green]
[algo-theme="green"] {
	--graph-node-circle-fill-selected: #258bff;
	--graph-node-circle-stroke-selected: #258bff;
	--graph-node-circle-fill-visited: #ec0a70;
	--graph-node-circle-stroke-visited: #ec0a70;

	--graph-edge-line-stroke-selected: #e42fd5;
	--graph-edge-weight-fill-selected: #e42fd5;
	--graph-edge-line-stroke-visited: #059847;
	--graph-edge-weight-fill-visited: #059847;

	--graph-arrow-fill-selected: #e42fd5;
	--graph-arrow-fill-visited: #059847;

	--array-1d-row-col-bg-selected: #ec0a70;
	--array-1d-row-col-bg-patched: #258bff;
	--array-1d-row-col-variable: #ec0a70;

	--array-2d-row-col-bg-selected: #258bff;
	--array-2d-row-col-bg-selected1: #11cc77;
	--array-2d-row-col-bg-selected2: #8ac0ff;
	--array-2d-row-col-bg-selected3: #8fdbb9;
	--array-2d-row-col-bg-patched: #258bff;
	--array-2d-row-col-sorted: #ffffff;

	--two-array-2d-row-col-bg-selected: #258bff;
	--two-array-2d-row-col-selected: #FFFFFF;
	--two-array-2d-row-col-bg-patched: #258bff;
	--two-array-2d-row-col-patched: #FFFFFF;


	--array-graph-row-col-bg-selected: #059847;
	--array-graph-row-col-bg-patched: #e42fd5;
	--array-graph-node-circle-fill-selected: #059847;
	--array-graph-node-circle-stroke-selected: #059847;
	--array-graph-node-circle-fill-visited: #e42fd5;
	--array-graph-node-circle-stroke-visited: #e42fd5;

	--array-graph-edge-line-stroke-selected: #059847;
	--array-graph-edge-weight-fill-selected: #059847;
	--array-graph-edge-line-stroke-visited: #e42fd5;
	--array-graph-edge-weight-fill-visited: #e42fd5;
	--array-graph-edge-arrow-fill-selected: #059847;
	--array-graph-edge-arrow-fill-visited: #e42fd5;

	--simple-fill-var-green: #418f45;
	--simple-fill-var-orange: #f2c988;
	--simple-fill-var-red: #e50c70;
}

// Override Algorithm Theme Colors [Green]
//Notice: 2021-s2 teams haven't actually designed/altered the colors in this color scheme.
[algo-theme="red"] {
	--graph-node-circle-fill-selected: #9f2fe4;
	--graph-node-circle-stroke-selected: #9f2fe4;
	--graph-node-circle-fill-visited: #0d9eae;
	--graph-node-circle-stroke-visited: #0d9eae;

	--graph-edge-line-stroke-selected: #9f2fe4;
	--graph-edge-weight-fill-selected: #9f2fe4;
	--graph-edge-line-stroke-visited: #0d9eae;
	--graph-edge-weight-fill-visited: #0d9eae;

	--graph-arrow-fill-selected: #9f2fe4;
	--graph-arrow-fill-visited: #0d9eae;

	--array-1d-row-col-bg-selected: #0d9eae;
	--array-1d-row-col-bg-patched: #9f2fe4;
	--array-1d-row-col-variable: #0d9eae;

	--array-2d-row-col-bg-selected: #2289ff;
	--array-2d-row-col-bg-selected1: #11cc77;
	--array-2d-row-col-bg-selected2: #8ac0ff;
	--array-2d-row-col-bg-selected3: #8fdbb9;
	--array-2d-row-col-bg-patched: #9f2fe4;
	--array-2d-row-col-sorted: #ffffff;

	--two-array-2d-row-col-bg-selected: #9f2fe4;
	--two-array-2d-row-col-selected: #FFFFFF;
	--two-array-2d-row-col-bg-patched: #9f2fe4;
	--two-array-2d-row-col-patched: #FFFFFF;


	--array-graph-row-col-bg-selected: #0d9eae;
	--array-graph-row-col-bg-patched: #9f2fe4;
	--array-graph-node-circle-fill-selected: #0d9eae;
	--array-graph-node-circle-stroke-selected: #0d9eae;
	--array-graph-node-circle-fill-visited: #9f2fe4;
	--array-graph-node-circle-stroke-visited: #9f2fe4;

	--array-graph-edge-line-stroke-selected: #0d9eae;
	--array-graph-edge-weight-fill-selected: #0d9eae;
	--array-graph-edge-line-stroke-visited: #9f2fe4;
	--array-graph-edge-weight-fill-visited: #9f2fe4;
	--array-graph-edge-arrow-fill-selected: #0d9eae;
	--array-graph-edge-arrow-fill-visited: #9f2fe4;

	--simple-fill-var-green: #469847;
	--simple-fill-var-orange: #f1f513;
	--simple-fill-var-red: #9f2ee4;
}



















// Global Functions
@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin calc($property, $expression...) {
	#{$property}: -moz-calc(#{$expression});
	#{$property}: -o-calc(#{$expression});
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: calc(#{$expression});
}


@mixin removeBtnStyling {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


@mixin gradientText($background) {
	background: $background;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin preventWrap {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}