@import './global.scss';



a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: $headerBg;
  font-family: Roboto, 'sans-serif';
  font-style: normal;
  height: $headerHeight;
  display: flex;
  flex-basis: auto;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  
  .headerTitle {
    display: flex;
    flex-direction: row;
    margin-left: $headerOffset;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;

    img {
      margin-right: 8px; 
      width: 1.2em;
      height: 1.2em;
    }
  
    h1 {
      color: $headerFontCol;
      font-size: 0.72em;
      font-weight: 600;
      text-transform: uppercase;
    }

  }

  .navButton {
    display:flex;
    justify-content: space-between;
    margin-right: $headerOffset;
    align-self: stretch;
     
    button {
      color: $headerBtnCol;
      font-size: 0.69em;
      font-weight: 600;
      background-color: Transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: visible;
      outline: none;
      height: 100%;
      padding-top: 4px;
      border-bottom: 4px solid transparent;
      margin-left: 16px;
      text-transform: uppercase;
    }

    button:hover {
      border-bottom: 4px solid $headerBtnHgCol;
      // background-color: #1d71d0;
    }

  }

  .MuiSelect-root{
    // font-family: Arial;
    color: #E7E7E7;
    font-size: 0.8em;
    font-weight: 500;
    background-color: Transparent;
  }
  
}