@import './global.scss';

$padding: 16px;
$itemHeight: 40px;

$itemHoverBg: #f0f0f0;
$itemHoverBorder: #bbbbbb;

$itemBorderHard: #d5d5d5;
$itemBorderLight: #eeeeee;
$itemBg: white;

$border: 4px;

.content {
  transition: max-height 0.06s ease-in;
  -webkit-transition: max-height 0.06s ease-in;
  -moz-transition: max-height 0.06s ease-in;
  -o-transition: max-height 0.06s ease-in;
  -ms-transition: max-height 0.06s ease-in;
  max-height: 0;
}

.container {
  display: flex;
  flex-direction: column;

  span {
    display: flex;

    .searchInput{
      font-size: 0.82em !important;
      font-weight: 500;
      color: $leftFontCol;
      padding: 0px $padding;
      background-color: #F9F9F9;
      width: 100%;
      height: $searchHeight;
      -webkit-appearance: none;
      outline: none;
      border: none;
      border-left: $border solid $itemBorderHard;
        
    }
    .searchInput:focus {
      border-left: $border solid $itemHoverBorder;
      background-color: $itemHoverBg;
    }
  }   
  
  // Algorithm List
  .algorithmList {
    display: flex;
    flex-direction: column;

    .algoItemContainer {
      display: flex;
      flex-direction: column;
      overflow: hidden;

    }

  }
    

}

.algoCat {
  @include removeBtnStyling;
  font-size: 0.9em;
  font-weight: 400;
  color: #727272;
  background-color: $itemBg;
  text-align: left;
  padding: 0 $padding;

  border-left: $border solid $itemBorderHard;
  text-transform: uppercase;

  min-height: $itemHeight !important;
  display: flex;
  align-items: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.algoCat:hover {
  border-left: $border solid $itemHoverBorder;
  background-color: $itemHoverBg;

}


.algoItem {
  @include removeBtnStyling;
  color: #5b5b5b;
  padding-left: $padding;

  background-color: $itemBg;
   
  min-height: $itemHeight !important;
  display: flex;
  align-items: stretch;

  .algoItemContent {
    border-left: $border solid $itemBorderLight;
    padding: 0 $padding;

    width: 100%;
  
    text-align: left;
    font-weight: 300;
    font-size: 0.95em;

    display: flex;
    

    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .algoItemContent:hover {
    border-left: $border solid $itemHoverBorder;
    background-color: $itemHoverBg;
  }
}

.active {
  .algoItemContent {
    border-left: $border solid $sigBlue;
    color: $sigBlue;
  }

  .algoItemContent:hover {
    border-left: $border solid $sigBlue;
    color: $sigBlue;
  }

}