@import './global.scss';

.algorithm-list-bg{
    background-color: $leftCatBg !important;
}
.algorithm-list-main{
    color: $leftCatFontCol;
    font-size: $leftFontSize;
    font-weight: 400;
}
.algorithm-list-sub{
    padding-left: 12px;
    color: $leftFontCol;
    font-weight: 300;
    font-size: $leftFontSize;
}
.MuiList-padding{
    padding: 0px !important;
}

.search-input{
    padding: 16px;
    font-size: $leftFontSize!important;
    width: 100%;
    height: $searchHeight;
    // border-bottom: 3px solid $borderCol;
}

.itemListContainer {
    // flex: 1 1 1px; /* Important */
}
