.code-container{
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}
.expand-collopse-button{
    border: 0;
    margin-left: -26px;
    border-radius: 50%;
    outline:none;
    cursor:pointer;
}

.line-light {
    width    : 100%;
    height: 600px;
    overflow: scroll;
    padding: 0px;
}
.line-light p {
    text-align: left;
    cursor    : pointer;
    margin: 0px;
    white-space:nowrap;
}

.line-light p span {
    white-space: pre;
}

.line-light p span:first-child {
    display         : inline-block;
    padding-right   : 25px;
    padding-left    : 20px;
    background-color: rgba(238, 231, 231,0.8);
    width           : 10px;
    padding         : 10px 10;
}

.line-light p span:nth-child(2) {
    padding-left: 30px;
}

.active{
    background-color:rgb(172, 239, 241);
}

.textArea-pseudocode{
    padding: 0px;
    flex: 1;
  }
