@import './global.scss';

$codePad: 24px;
$rightNumWidth: 36px;
$rightButtonWidth: 24px;
$containerTopBottomPad: 2%;

.code-container{
  font-family: Menlo, "Liberation Mono", Courier, monospace;
  // height: 100% - (2 * $containerTopBottomPad);
  padding: $containerTopBottomPad 0;
  padding-bottom: 100px;
}

.expand-collopse-button {
  border: none;
  outline:none;
  cursor:pointer;
  @include border-radius(2px);
  
  color: var(--right-code-expand-btn);
  background-color: var(--right-code-expand-btn-bg);
  display: flex;
  align-items: center;
  margin: auto 0;
}

.expand-collapse-button-active {
  @extend .expand-collopse-button;
  background: none;

}

.expand-collopse-button:hover {
  background-color: var(--right-code-expand-btn-bg-hover);
}

.line-explanation-button-active{
  border: none;
  outline:none;
  cursor:pointer;
  @include border-radius(2px);
  background: none;
  color: var(--right-code-line-explain-btn-active);
  display: flex;
  align-items: center;

}


.line-explanation-button-negative{
  border: none;
  outline:none;
  cursor:pointer;
  @include border-radius(2px);
  background: none;
  color: var(--right-code-line-explain-btn-inactive);
  margin: auto 0;
  display: flex;
  align-items: center;

}

.line-light {
  width: 100%;
  color: var(--right-code-font);
  background-color: var(--right-code-bg);

}

.line-light p {
  text-align: left;
  margin: 0px;
  white-space:nowrap;
  padding: 4px 0;
  cursor: default;
}

.line-light p:hover {
  background-color: var(--right-code-line-hover);
}

.line-light p:active {
  background-color: var(--right-code-line-active);
}

.line-light p span {
  white-space: pre;
}

.line-light p span:first-child {
  display: inline-block;
  width: $rightNumWidth;
  color: var(--right-code-line-num);
  text-align: right;
  padding: 0 2px;
    
}

.line-light p span:nth-child(2) {
  display: inline-block;
  width: $rightButtonWidth;
  align-items: center;
  padding: 0 6px;
    
}

.line-light p span:nth-child(3) {
  display: inline-block;
  width: $rightButtonWidth;
  align-items: center;
  padding-right: 12px;  
}

.active{
  width: 200%;
  background-color: var(--right-code-line-hg);

}
.active:hover {
  background-color: var(--right-code-line-hg) !important;

}

.textArea-pseudocode{
  padding: 0px;
  flex: 1;
}

.explanation{
  color: var(--right-code-explanation-font);
}

.keyword{
  color: var(--right-code-keyword-font);
  font-weight:500;

}

.arrow{
  color: var(--right-code-operator-font);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.variable {
  color: var(--right-code-variable-font);
}

.operator {
  color: var(--right-code-operator-font);
  font-weight: 500;

}

.function{
  color: var(--right-code-function-font);
  font-weight:500;

}


.lineExplanation {
  position: fixed;
  background-color: var(--right-code-line-explain-bg);
  white-space:normal;
  word-wrap:break-word;
  overflow-wrap: break-word;
  
  width: auto;
  bottom: 56px;
  margin: 0 24px;
  padding: 8px 16px 12px;
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.2));
  @include border-radius(1%);
  color: var(--right-code-line-explain-font);
  font-weight: 300;
  
  .lEHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .lEtitle {
      font-weight: 500;
      font-size: 0.82em;
      text-transform: uppercase;
      color: var(--right-code-line-explain-title);
    }

  }

}









































