.mainmenu-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  width: 16.67%;
  height: 100vh;
  background-color: #00008B; 
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  box-sizing: border-box;
  justify-content: space-between; // 这会将内容分散到顶部和底部
}

// XXX Maybe should be .main-content??? - thats what is used in
// src/components/mainmenu/index.js
// Things are currently pretty awful for main menu formatting and if the
// browser font size is larger than the default things just vanish off
// the page, not to mention all the magic numbers in translating bits XXX
.main-contents {
  width: 83.33%; 
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.algorithm-category {
  width: 48%;
  margin-bottom: 20px;
  
}

.logo {
  width: 50%;
  margin-bottom: 0px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.algorithm {
  display: block;
}

.in-action {
  display: block;
}

.search-container {
  width: 100%;
  position: relative;

}

.search-bar {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.search-result-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.search-result-link:hover {
  background-color: #f0f0f0;
}

.algorithm-link {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f0f0f0;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
}

.algorithm-link:hover {
  background-color: #e0e0e0;
}

.about-link {
  margin-top: auto; // 这会将链接推到底部
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s ease;

  &:hover {
    color: #f0f0f0;
  }
}
