$midHeaderHeight: 40px;
$headerColor: #4D4D4D;
$quizButCol: #DEDEDE;
$borderCol: #D4D4D4;
$fontCol: #343434;
$buttonDefCol: #909090;

.midPanelContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  
  .midPanelHeader {
    height: $midHeaderHeight;
    border-bottom: 1px solid $borderCol;
    display: flex;
    justify-content: space-between;
    
    .algorithmTitle {
      font-size: 0.92em;
      margin: auto 24px;
      color: $headerColor;
      font-weight: 400;
    }

    .quizButton {
      margin: auto 24px;
      font-size: 0.8em;
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      font-size: 0.8em;
      font-weight: 400;
      padding: 4px 8px;
      border-radius: 20px;
      background-color: $quizButCol;
      color: $headerColor;

    }

  }

   /* Animation Goes Here */
  .midPanelBody {
    flex: 1 1 1px; /* Important */
    // min-height: 700px;
    // top: 0;
    // left: 0;
    // background-color: $buttonDefCol;
    justify-self: center;
    // color: $color-font;
    // padding: 4px 6px;
    // font-size: $font-size-large;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 0;
  }


  .midPanelFooter {
    height: 35%;
    font-size: 0.8em;
    color: $fontCol;

    .controlPanel {
      height: 40px;
      border-top: 1px solid $borderCol;
      border-bottom: 1px solid $borderCol;
      padding: 16px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    .parameterPanel {
      padding: 16px;
    }
  }
}

