$midHeaderHeight: 40px;
$headerColor: #4D4D4D;
$quizButCol: #DEDEDE;
$borderCol: #D4D4D4;
$fontCol: #343434;
$sidePad: 24px;
$submitCol: #0065AE;
$submitHighlightCol: #0065AE;
$paramLog: #EFEEF0;
$warningCol: #DC0707;
$successCol: #40980B;
$loadBtnCol: #FFFFFF;

@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
}

.midPanelContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  
  .midPanelHeader {
    height: $midHeaderHeight;
    border-bottom: 1px solid $borderCol;
    display: flex;
    justify-content: space-between;
    
    .algorithmTitle {
      font-size: 0.92em;
      margin: auto $sidePad;
      color: $headerColor;
      font-weight: 400;
    }

    .quizButton {
      margin: auto $sidePad;
      font-size: 0.8em;
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      font-size: 0.8em;
      font-weight: 400;
      padding: 4px 8px;
      border-radius: 20px;
      background-color: $quizButCol;
      color: $headerColor;

    }

  }

   /* Animation Goes Here */
  .midPanelBody {
    display: flex;
    flex-direction: column;
    flex: 1 1 1px; /* Important */
    min-height: 0;
  }

  .midPanelFooter {
    height: 28%;
    font-size: 0.8em;
    color: $fontCol;
    overflow-y: scroll;
    border-top: 1px solid $borderCol;

    .controlPanel {
      height: 40px;
      border-bottom: 1px solid $borderCol;
      padding: auto $sidePad;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .parameterPanel {
      padding: 16px $sidePad 16px $sidePad;

      .logContainer {
        background-color: $paramLog;
        padding: 8px 16px;
        border-radius: 4px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 16px auto 0px auto;
        

        .logTag {
          color: $successCol;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1em;
          margin-right: 12px;
        }

        .logText {
          font-size: 1.03em;
          font-weight: 300;
          color: $fontCol;
        }

      }

    }
  }
}

