@import './global.scss';

.btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

}

.blueWordBtn {
  @extend .btn;
  font: 13px "Roboto", sans-serif !important;
  border-radius: 1px;
  text-align: center;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  padding: 6px;
  color: $sigBlue;
}

.blueWordBtn:hover {
  transition: .4s;
  background: #f5faff;
}
.blueWordBtn:active {
  transition: .2s;
  background: #e4f1ff;
}

.blueWordBtnDisabled {
  @extend .blueWordBtn;
  color: $lightGreyCol;
  cursor: not-allowed !important;
}

.blueWordBtnDisabled:hover {
  background: none;
}
.blueWordBtnDisabled:active {
  background: none;
}

.greyRoundBtn {
  @extend .btn;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 12px;
    height: 12px;

    path {
      fill:$greyCol;
    }
  }
}

.greyRoundBtn:hover {
  transition: .4s;
  background: #f7f7f7;
  @include border-radius(14px);

}
.greyRoundBtn:active {
  transition: .2s;
  background: #E3E2E4;
  @include border-radius(14px);

}

.outerInput {
  border: 1px solid $paramBorderCol;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  
  .inputText {
    width: 100%;

    input {
      width: 100%;
      outline: none;
      font-size: 1.05em;
      font-weight: 200;
      color: $paramFontCol;
      border: none;
      padding: 8px 0px;
    }
  }

  .btnGrp {
    display: flex;
    justify-content: flex-end;

  }
}

.form {
  color: $paramFontCol;
  font-size: 1.05em;
  display: flex;
  justify-content: space-between;

  .formLeft {
    width: 62%;
  }

  .formRight {
    width: 36%;
  }

}

.btnDisabled {
  @extend .blueWordBtn;
  cursor: not-allowed !important;
}

.greyRoundBtnDisabled {
  @extend .greyRoundBtn;
  cursor: not-allowed !important;
  svg {
    path {
      fill:$disabledCol;
    }
  }
}

.greyRoundBtnDisabled:hover {
  background: none;
}
.greyRoundBtnDisabled:active {
  background: none;
}

