.set-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    transform: translate(920px, -1025px);
  }
  
  .category {
    font-size: 2em;
    color: black;
    margin-bottom: 10px;
  }
  
  .set-link {
    font-size: 1.5em;
    color: #89c9f5;
    text-decoration: underline;
    transition: color 0.3s ease;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .set-link:hover {
    color: #2c3e50;
  }
