
$blue-color: #3498db; 
$white-color: #ffffff; 
$dark-blue-color: #2c3e50;


body, html {
  margin: 0;
  height: 100%;
}


.container {
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  padding: 20px; 

  .title {
    font-size: 4em; 
    font-weight: bold;
    margin: 0;
    display: flex; 
    background-color: $dark-blue-color; 
    padding: 10px; 
    border-radius: 5px; 
    color: white; 
    transform: translate(50px, 30px);
    
    .algorithm {
      color: $blue-color; 
    }
    
    .in-action {
      color: $white-color;
    }
  }
}
.search-container {
  position: relative;
}
.search-bar {
  width: 30em;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  transform: translate(700px, -20px);
}

.search-results {
  position: absolute;
  display: block;
  width: 31.3em; 
  border: 1px solid #000000;
  border-radius: 4px;
  top: 100%;
  margin-top: 10px;
  background-color: #ffffff; 
  transform: translate(700px, -20px);
  z-index: 10;
}

.search-result-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000000;
}

.search-result-link:hover {
  text-decoration: underline;
}