@import "../../common/stylesheet/index";


.array_2d {
  flex-shrink: 0;
  display: table;
  border-collapse: collapse;

  .bottom_caption {
    // centres 'caption' (kth) below array
    caption-side: bottom;
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    color: var(--array-2d-row-col-value-color);
    font-family: Menlo, "Liberation Mono", Courier, monospace;
  }

  .pseudocode_function {
    color: var(--right-code-function-font);
  }

  .top_variable {
    // for indices across the top of the array
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: var(--array-2d-row-col-value-color);
    margin-bottom: -5px;
  }

  .row {
    display: table-row;
    height: 28px;


    .col {
      display: table-cell;
      text-align: center;
      min-width: 8px;
      width: 28px;
      background-color: var(--array-2d-row-col-bg);
      border: 1px solid var(--array-2d-row-col-border);
      padding: 0 4px;

      .value {
        font-size: 12px;
        color: var(--array-2d-row-col-value-color);

      }

      .variable {
        font-size: 18px;
        color: var(--array-2d-row-col-value-color);//var(--array-2d-row-col-sorted);
      }

      &.selected {
        background-color: var(--array-2d-row-col-bg-selected);

        span {
          color: var(--array-2d-row-col-selected);
        }
      }

      &.selected1 {
        background-color: var(--array-2d-row-col-bg-selected1);

        span {
          color: var(--array-2d-row-col-selected);
        }
      }

      &.selected2 {
        background-color: var(--array-2d-row-col-bg-selected2);

        span {
          color: var(--array-2d-row-col-selected);
        }
      }

      &.selected3 {
        background-color: var(--array-2d-row-col-bg-selected3);

        span {
          color: var(--array-2d-row-col-selected);
        }
      } 

      &.variableGreen {
        background-color: var(--simple-fill-var-green);

        span {
          color: var(--array-2d-row-col-selected);
        }
      }

      &.variableOrange {
        // more of a yellow, really
        background-color: var(--simple-fill-var-orange);

        span {
          color: var(--array-2d-row-col);
        }
      }

      &.variableRed {
        background-color: var(--simple-fill-var-red);

        span {
          color: var(--array-2d-row-col-selected);
        }
      }


      &.selected4 {
        background-color: var(--array-2d-row-col-bg-selected4);

        span {
          color: var(--array-2d-row-col-selected);
        }
      }  

      &.selected5 {
        background-color: var(--array-2d-row-col-bg-selected5);

        span {
          color: var(--array-2d-row-col-selected);
        }
      }  



      &.patched {
        background-color: var(--array-2d-row-col-bg-patched);

        span {
          color: var(--array-2d-row-col-patched);
        }

      }

      &.sorted {
        background-color: var(--array-2d-row-bg-sorted);

        span {
          color: var(--array-2d-row-col-sorted);
        }
      }



      &.index {
        background: var(--array-2d-row-col-bg-index);
        border: var(--array-2d-row-col-border-index);
        color: var(--array-2d-row-col-color-index);

      }

      &.variables {
        background: var(--array-2d-row-col-bg-index);
        border: var(--array-2d-row-col-border-index);
        color: var(--array-2d-row-col-color-index);
        vertical-align: text-top;

      }

      &.faded {
        opacity: 0.2
      }
      
    }
  }
}

.captionDFS {
  caption-side: bottom;
  text-align: right;
  margin-top: -12px; // need to squeeze a bit
  color: var(--array-2d-row-col-value-color); 
}  

.captionBFS {
  caption-side: bottom;
  text-align: center;
  margin-top: -12px; // need to squeeze a bit
  color: var(--array-2d-row-col-value-color); 
}

.captionDFSrec {
  caption-side: bottom;
  margin-top: -12px; // doesn't hurt to squeeze a bit like above
  text-align: right;
  color: var(--array-2d-row-col-value-color); 
}

.captionmsort_lista_td {
  caption-side: bottom;
  font-size: 14px; // squeeze a bit
  text-align: right;
  color: var(--array-2d-row-col-value-color); 
}

// redefined in 1D array
.captionmsort_arr_td {
  caption-side: bottom;
  text-align: right;
  color: var(--array-2d-row-col-value-color); 
}  
