@import "../../common/stylesheet/index";

.array_2d {
  flex-shrink: 0;
  display: table;
  border-collapse: collapse;

  .row {
    display: table-row;
    height: 28px;

    .col {
      display: table-cell;
      text-align: center;
      min-width: 28px;
      // background-color: $theme-light;
      background-color: "#fff";
      border: 1px solid $theme-light;
      padding: 0 4px;

      .value {
        font-size: 12px;
        // color: $color-font;
      }

      &.selected {
        background-color: $color-selected;
      }

      &.patched {
        background-color: $color-patched;
      }

      &.sorted {
        background-color: $color-sorted;
      }

      &.index {
        background: none;
        border: none;
        color: $theme-light;
      }
    }
  }
}
.array_2d_green {
  flex-shrink: 0;
  display: table;
  border-collapse: collapse;

  .row {
    display: table-row;
    height: 28px;

    .col {
      display: table-cell;
      text-align: center;
      min-width: 28px;
      // background-color: $theme-light;
      background-color: $color-purple;
      border: 1px solid $theme-light;
      padding: 0 4px;
      color: $color-yellow;

      .value {
        font-size: 12px;
        // color: $color-yellow;
      }

      &.selected {
        background-color:  $color-lightgreen;
      }

      &.patched {
        background-color: $color-green;
      }

      &.index {
        background: none;
        border: none;
        color: $theme-light;
      }
    }
  }
}
.array_2d_blue {
  flex-shrink: 0;
  display: table;
  border-collapse: collapse;

  .row {
    display: table-row;
    height: 28px;

    .col {
      display: table-cell;
      text-align: center;
      min-width: 28px;
      // background-color: $theme-light;
      background-color: $color-red;
      border: 1px solid $theme-light;
      padding: 0 4px;
      color: $color-yellow;

      .value {
        font-size: 12px;
        // color: $color-yellow;
      }

      &.selected {
        background-color:  $color-blue;
      }

      &.patched {
        background-color: $color-green;
      }

      &.index {
        background: none;
        border: none;
        color: $theme-light;
      }
    }
  }
}
