@import "../../common/stylesheet/index";

.array_2d {
  flex-shrink: 0;
  display: table;
  border-collapse: collapse;

  .row {
    display: table-row;
    height: 28px;

    .col {
      display: table-cell;
      text-align: center;
      min-width: 8px;
      width: 28px;
      background-color: var(--array-2d-row-col-bg);
      border: 1px solid var(--array-2d-row-col-border);
      padding: 0 4px;

      .value {
        font-size: 12px;
        color: var(--array-2d-row-col-value-color);

      }

      .variable {
        font-size: 18px;
        color: var(--array-2d-row-col-value-color);//var(--array-2d-row-col-sorted);
      }

      &.selected {
        background-color: var(--array-2d-row-col-bg-selected);

        span {
          color: var(--array-2d-row-col-selected);
        }
      }

      &.selected1 {
        background-color: var(--array-2d-row-col-bg-selected1);

        span {
          color: var(--array-2d-row-col-selected);
        }
      }

      &.selected2 {
        background-color: var(--array-2d-row-col-bg-selected2);

        span {
          color: var(--array-2d-row-col-selected);
        }
      }

      &.selected3 {
        background-color: var(--array-2d-row-col-bg-selected3);

        span {
          color: var(--array-2d-row-col-selected);
        }
      } 

      &.selected4 {
        background-color: var(--array-2d-row-col-bg-selected4);

        span {
          color: var(--array-2d-row-col-selected);
        }
      }  

      &.selected5 {
        background-color: var(--array-2d-row-col-bg-selected5);

        span {
          color: var(--array-2d-row-col-selected);
        }
      }  



      &.patched {
        background-color: var(--array-2d-row-col-bg-patched);

        span {
          color: var(--array-2d-row-col-patched);
        }

      }

      &.sorted {
        background-color: var(--array-2d-row-bg-sorted);
        
        span {
          color: var(--array-2d-row-col-sorted);
        }
      }



      &.index {
        background: var(--array-2d-row-col-bg-index);
        border: var(--array-2d-row-col-border-index);
        color: var(--array-2d-row-col-color-index);
        
      }

      &.variables {
        background: var(--array-2d-row-col-bg-index);
        border: var(--array-2d-row-col-border-index);
        color: var(--array-2d-row-col-color-index);
        vertical-align: text-top;
        
      }

      &.faded {
        opacity: 0.2
      }



      
    }
  }
}
.captionDFS {
  caption-side: bottom;
}  

.captionBFS {
  caption-side: bottom;
} 

.captionDFS {
  color: var(--array-2d-row-col-value-color); 
}

.captionBFS {
  color: var(--array-2d-row-col-value-color); 
}