@import "../../common/stylesheet/index";

.list {
  flex: 1;
  align-self: stretch;

  .label {
    font-size: 16px;
    font-weight: bold;
    color: var(--linked-list-node-value-color);
  }

  .listItem {
    font-size: 16px;
    font-weight: bold;
    color: var(--linked-list-node-value-color);
  }
  .node {
    .rect {
      fill: var(--graph-node-circle-fill);
      stroke: var(--graph-node-circle-stroke);
      stroke-width: 1;

    }
    .circle {
      fill: var(--graph-node-circle-fill);
      stroke: var(--graph-node-circle-stroke);
      stroke-width: 1;
    }

    .circle.selected {
      fill: var(--graph-node-circle-fill);
      stroke: var(--graph-node-circle-stroke);
      stroke-width: 1;
    }

    .circle.visited {
      fill: var(--graph-node-circle-fill);
      stroke: var(--graph-node-circle-stroke);
      stroke-width: 1;
    }
  }
}
