@import "../../common/stylesheet/index";


// --graph-node-fill: orange;

.graph {
  flex: 1;
  align-self: stretch;

  .node {
    .circle {
      fill: var(--graph-node-circle-fill);
      stroke: var(--graph-node-circle-stroke);
      stroke-width: 1;
    }

    .rect{
      fill: var(--graph-node-circle-fill);
      stroke: var(--graph-node-circle-stroke);
      stroke-width: 1;
    }

    .id {
      fill: var(--graph-node-id-fill);
      dominant-baseline: central;
      text-anchor: middle;
      font-size: 35px; // font size for labels inside nodes
    }

    .weight {
      fill: var(--graph-node-weight-fill);
      font-weight: bold;
      font-size: 15px;
      alignment-baseline: central;
      text-anchor: left;
    }

    &.selected {
      .circle {
        fill: var(--graph-node-circle-fill-selected);
        stroke: var(--graph-node-circle-stroke-selected);
      }
      .rect {
        fill: var(--graph-node-circle-fill-selected);
        stroke: var(--graph-node-circle-stroke-selected);
      }
      .id {
        fill: var(--graph-node-id-fill-selected);
      }
    }

    &.visited0 {
      .circle {
        fill: var(--graph-node-circle-fill-visited0);
        stroke: var(--graph-node-circle-stroke-visited0);
      }
      .rect {
        fill: var(--graph-node-circle-fill-visited0);
        stroke: var(--graph-node-circle-stroke-visited0);
      }
      .id {
        fill: var(--graph-node-id-fill-visited);
      }
    }

    &.visited {
      .circle {
        fill: var(--graph-node-circle-fill-visited);
        stroke: var(--graph-node-circle-stroke-visited);
      }
      .rect {
        fill: var(--graph-node-circle-fill-visited);
        stroke: var(--graph-node-circle-stroke-visited);
      }
      .id {
        fill: var(--graph-node-id-fill-visited);
      }
    }

    &.sorted {
      .circle {
        fill: var(--graph-node-circle-fill-sorted);
        
      }
      .id {
        fill: var(--graph-node-id-fill-sorted);
      }
    }

    &.visited1 {
      .circle {
        fill: var(--graph-node-circle-fill-visited1);
        stroke: var(--graph-node-circle-stroke-visited1);
      }
      .id {
        fill: var(--graph-node-id-fill-visited);
      }
    }

    &.visited2 {
      .circle {
        fill: var(--graph-node-circle-fill-visited2);
        stroke: var(--graph-node-circle-stroke-visited2);
      }
      .id {
        fill: var(--graph-node-id-fill-visited);
      }
    } 

    &.visited3 {
      .circle {
        fill: var(--graph-node-circle-fill-visited3);
        stroke: var(--graph-node-circle-stroke-visited3);
      }
      .id {
        fill: var(--graph-node-id-fill-visited);
      }
    } 

    &.visited4 {
      .circle {
        fill: var(--graph-node-circle-fill-visited4);
        stroke: var(--graph-node-circle-stroke-visited4);
      }
      .id {
        fill: var(--graph-node-id-fill-visited);
      }
    } 
  }

  .edge {
    .line {
      stroke: var(--graph-edge-line-stroke);
      stroke-width: 2.5;
      fill: none;

      &.directed {
        marker-end: url(#markerArrow);
      }
    }

    .weight {
      fill: var(--graph-edge-line-weight-fill);
      alignment-baseline: baseline;
      text-anchor: middle;
      // font-size: 15px;
      font-size: 35px;
    }

    &.selected {
      .line {
        stroke: var(--graph-edge-line-stroke-selected);

        &.directed {
          marker-end: url(#markerArrowSelected);
        }
      }

      .weight {
        fill: var(--graph-edge-weight-fill-selected);
      }
    }

    &.sorted {
      .line {
        stroke-width: 0;
      }
    }

    &.visited {
      .line {
        stroke: var(--graph-edge-line-stroke-visited);

        &.directed {
          marker-end: url(#markerArrowVisited);
        }
      }

      .weight {
        fill: var(--graph-edge-weight-fill-visited);
      }
    }

    &.visited1 {
      .line {
        stroke: var(--graph-edge-line-stroke-visited1);

        &.directed {
          marker-end: url(#markerArrowVisited1);
        }
      }

      .weight {
        fill: var(--graph-edge-weight-fill-visited1);
      }
    }

    &.visited2 {
      .line {
        stroke: var(--graph-edge-line-stroke-visited2);

        &.directed {
          marker-end: url(#markerArrowVisited2);
        }
      }

      .weight {
        fill: var(--graph-edge-weight-fill-visited2);
      }
    } 

    &.visited3 {
      .line {
        stroke: var(--graph-edge-line-stroke-visited3);

        &.directed {
          marker-end: url(#markerArrowVisited3);
        }
      }

      .weight {
        fill: var(--graph-edge-weight-fill-visited3);
      }
    } 

    &.visited4 {
      .line {
        stroke: var(--graph-edge-line-stroke-visited4);

        &.directed {
          marker-end: url(#markerArrowVisited4);
        }
      }

      .weight {
        fill: var(--graph-edge-weight-fill-visited4);
      }
    } 

  }

  .arrow {
    fill: var(--graph-arrow-fill);

    &.selected {
      fill: var(--graph-arrow-fill-selected);
    }

    &.visited {
      fill: var(--graph-arrow-fill-visited);
    }

    &.visited1 {
      fill: var(--graph-arrow-fill-visited1);
    }

    &.visited2 {
      fill: var(--graph-arrow-fill-visited2);
    } 

    &.visited3 {
      fill: var(--graph-arrow-fill-visited3);
    }
    &.visited4 {
      fill: var(--graph-arrow-fill-visited4);
    }
  }


  // X, Y axis
  .axis {
    stroke: var(--axis);
    stroke-width: 1;
    fill: none;

  }

  .axisLabel {
    // font-size: 15px;
    font-size: 35px;
    font-weight: 1;
  }

}
