@import "../../common/stylesheet/index";

.container {
    flex-direction: column;
}

.outline {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    min-width: 120px;
    border: 1px solid;
    font-size: 20px;
    color: var(--mid-header-font);
    background: var(--array-2d-row-col-bg);
    text-align: center;
    margin-bottom: 10px;
}

.title {
    font-size: 14px;
    color: var(--mid-header-font);
    text-align: center;
}

// used to ephasise base 4/binary: whatever is the most important thing to
// look at
.emphTitle {
    font-size: 16px;
    color: var(--apple);
    text-align: center;
}

.highlighted {
    color: var(--apple);  // XXX not great contrast
}
