@use "../../common/stylesheet/index" as *;

.graph {
  flex: 1;
  align-self: stretch;

  .node {
    .array_2d {
      flex-shrink: 0;
      display: table;
      border-collapse: collapse;

      .row {
        display: table-row;
        height: 16px;

        .col {
          display: table-cell;
          text-align: center;
          background-color: var(--array-graph-row-col-bg);
          border: thin solid var(--array-graph-row-col-border);
          padding: 0 4px;
          font-size: 8px;

          .value {
            font-size: 9px;
            color: var(--array-graph-row-col-value-color);

          }

          &.selected {
            background-color: var(--sky);

            span {
              color: var(--array-graph-row-col-selected);
            }

          }

          &.sorted {
            span {
              color: var(--array-graph-row-col-sorted);
            }

          }



          &.patched {
            background-color: var(--array-graph-row-col-bg-patched);
          }

          &.index {
            background: var(--array-graph-row-col-bg-index);
            border: var(--array-graph-row-col-border-index);
            color: var(--array-graph-row-col-color-index);

          }
        }
      }
    }

    .weight {
      fill: var(--array-graph-node-weight-fill);
      font-weight: bold;
      alignment-baseline: central;
      text-anchor: left;
    }

    &.selected {
      .circle {
        fill: var(--sky);
        stroke: var(--sky);
      }
    }

    &.visited {
      .circle {
        fill: var(--apple);
        stroke: var(--apple);
      }
    }
  }

  .edge {
    .line {
      stroke: var(--array-graph-edge-line-stroke);
      stroke-width: 2;

      &.directed {
        marker-end: url(#markerArrow);
      }
    }

    .weight {
      fill: var(--array-graph-edge-weight-fill);
      alignment-baseline: baseline;
      text-anchor: middle;
    }

    &.selected {
      .line {
        stroke: var(--leaf);

        &.directed {
          marker-end: url(#markerArrowSelected);
        }
      }

      .weight {
        fill: var(--array-graph-weight-line-stroke-selected);
      }
    }

    &.visited {
      .line {
        stroke: var(--apple);

        &.directed {
          marker-end: url(#markerArrowVisited);
        }
      }

      .weight {
        fill: var(--apple);
      }
    }
  }

  .arrow {
    fill: var(--array-graph-edge-arrow-fill);

    &.selected {
      fill: var(--sky);
    }

    &.visited {
      fill: var(--apple);
    }
  }
}