@import "../../common/stylesheet/index";

.graph {
  flex: 1;
  align-self: stretch;

  .node {
    .array_2d {
      flex-shrink: 0;
      display: table;
      border-collapse: collapse;
    
      .row {
        display: table-row;
        height: 16px;
    
        .col {
          display: table-cell;
          text-align: center;
          background-color: var(--array-graph-row-col-bg);
          border: thin solid var(--array-graph-row-col-border);
          padding: 0 4px;
          font-size: 8px;
    
          .value {
            font-size: 9px;
            color: var(--array-graph-row-col-value-color);

          }
    
          &.selected {
            background-color: var(--array-graph-row-col-bg-selected);

            span {
              color: var(--array-graph-row-col-selected);
            }
       
          }
    
          &.patched {
            background-color: var(--array-graph-row-col-bg-patched);
          }
    
          &.index {
            background: var(--array-graph-row-col-bg-index);
            border: var(--array-graph-row-col-border-index);
            color: var(--array-graph-row-col-color-index);

          }
        }
      }
    }

    .weight {
      fill: var(--array-graph-node-weight-fill);
      font-weight: bold;
      alignment-baseline: central;
      text-anchor: left;
    }

    &.selected {
      .circle {
        fill: var(--array-graph-node-circle-fill-selected);
        stroke: var(--array-graph-node-circle-stroke-selected);
      }
    }

    &.visited {
      .circle {
        fill: var(--array-graph-node-circle-fill-visited);
        stroke: var(--array-graph-node-circle-stroke-visited);
      }
    }
  }

  .edge {
    .line {
      stroke: var(--array-graph-edge-line-stroke);
      stroke-width: 2;

      &.directed {
        marker-end: url(#markerArrow);
      }
    }

    .weight {
      fill: var(--array-graph-edge-weight-fill);
      alignment-baseline: baseline;
      text-anchor: middle;
    }

    &.selected {
      .line {
        stroke: var(--array-graph-edge-line-stroke-selected);

        &.directed {
          marker-end: url(#markerArrowSelected);
        }
      }

      .weight {
        fill: var(--array-graph-weight-line-stroke-selected);
      }
    }

    &.visited {
      .line {
        stroke: var(--array-graph-edge-line-stroke-visited);

        &.directed {
          marker-end: url(#markerArrowVisited);
        }
      }

      .weight {
        fill: var(--array-graph-edge-weight-fill-visited);
      }
    }
  }

  .arrow {
    fill: var(--array-graph-edge-arrow-fill);

    &.selected {
      fill: var(--array-graph-edge-arrow-fill-selected);
    }

    &.visited {
      fill: var(--array-graph-edge-arrow-fill-visited);
    }
  }
}


